@charset 'utf-8';


/* ======================================================

  Author:  Armend Gashi
  Email: armend90@gmail.com
  Date:  06/NOV/15

 ====================================================== */

/*
  CSS Debugging
  ----
  Toggle layout debugging
  Use lost-utility: edit; on body to visualize the entire structure of your site, or just specify the areas you're working on.
  lost-utility: edit; adds shadows to all elements.
  @source - https://github.com/corysimmons/lost#edit-mode
*/


/* ==========================================================================
  $Libs
========================================================================== */
/*
  PostCSS Plugins & Third-Party Styles
*/


/* ==========================================================================
  $Imports PostCSS Libs.
  Go to postcss.parts for a searchable catalog of the plugins mentioned below.
  @source https://github.com/postcss/postcss#plugins
========================================================================== */

/*
  lost feature-rich calc() grid system by Jeet author.
*/

/* ==========================================================================
  $Utilities
========================================================================== */
/* ==========================================================================
  $Fonts
========================================================================== */

/* ==========================================================================
  $Base
========================================================================== */
/*
  @source http://smacss.com/book/type-base
  Base Rules
  A Base rule is applied to an element using an element selector, a
  descendent selector, or a child selector, along with any pseudo-classes.
  It doesn’t include any class or ID selectors. It is defining the default
  styling for how that element should look in all occurrences on the page.
*/

/* ==========================================================================
  $Base
========================================================================== */

/* ==========================================================================
  $Layout
========================================================================== */
/*
  @source http://smacss.com/book/type-layout

  Layout Rules

  Layout styles can also be divided into major and minor styles based on
  reuse. Major layout styles such as header and footer are traditionally
  styled using ID selectors but take the time to think about the elements
  that are common across all components of the page and use class selectors
  where appropriate.
*/

/* ==========================================================================
  $States
========================================================================== */
/*
  @source http://smacss.com/book/type-state

  State Rules

  A state is something that augments and overrides all other styles.
  For example, an accordion section may be in a collapsed or expanded state.
  A message may be in a success or error state.

  States are generally applied to the same element as a layout rule or
  applied to the same element as a base module class.
*/

/*==========================================================================
  $States
==========================================================================*/
